.popup__input {
  margin-top: 17px;
  width: 100%;
  height: 39px;
  border: none;
  box-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__input:focus {
  outline: 0;
  outline-offset: 0;
}
