.profile__profile-info {
  grid-area: info;
  width: 336px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "name edit"
    "about about";
}

@media screen and (max-width: 554px){
  .profile__profile-info {
    width: 282px;
    justify-content: center;
  }
}
